<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Page</title>
</head>
<body>
    <h1>Add Cashier Page</h1>

    <form id="cashierForm" th:action="@{/addCashier}" method="post">
        <label for="firstName">Name:</label>
        <input type="text" id="name" name="name" required>


        <label for="sex">Sex:</label>
        <select id="sex" name="sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>

        <label for="login">Username:</label>
        <input type="text" id="login" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="exampleInputPassword1" class="form-label">User Type</label>
        <select name="type" id="cars">
            <option value="admin">Admin</option>
            <option value="cashier">Cashier</option>
        </select>

        <button type="submit">OK</button>
    </form>
</body>
</html>
