<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Menu</title>
</head>
<body>
    <tr th:each="drink : ${drinks}">
        <th th:text="${drink.getDrink_id()}"></th>
        <td th:text="${drink.getDrinkName()}"></td>
        <a th:href="@{/drink/edit/{id} (id = ${drink.getDrink_id()})}">Edit</a>
        <a th:href="@{/drink/delete/{id} (id = ${drink.getDrink_id()})}">Delete</a>
        <br>
    </tr>
</body>
</html>